
    .galaxy{
      display:inline-block;
      vertical-align: middle;
      background-image: url(./galaxy-sprite.png);
      background-size: 239px 206px;
    }
  
        .galaxy-account {
          background-position: 0px 152px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-approve {
          background-position: 42px 110px;
          width: 32px;
          height: 32px;
        }
        
        .galaxy-arrow_rect_next {
          background-position: 160px 184px;
          width: 21px;
          height: 21px;
        }
        
        .galaxy-arrow_rect_prev {
          background-position: 218px 0px;
          width: 21px;
          height: 21px;
        }
        
        .galaxy-avatar {
          background-position: 110px 0px;
          width: 34px;
          height: 34px;
        }
        
        .galaxy-bill {
          background-position: 110px 44px;
          width: 32px;
          height: 32px;
        }
        
        .galaxy-chart-symbol {
          background-position: 218px 31px;
          width: 18px;
          height: 18px;
        }
        
        .galaxy-chart {
          background-position: 96px 152px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-copy {
          background-position: 0px 110px;
          width: 32px;
          height: 32px;
        }
        
        .galaxy-daily {
          background-position: 0px 184px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-faild-min {
          background-position: 186px 160px;
          width: 12px;
          height: 12px;
        }
        
        .galaxy-faild {
          background-position: 218px 171px;
          width: 17px;
          height: 17px;
        }
        
        .galaxy-faild_red {
          background-position: 218px 143px;
          width: 18px;
          height: 18px;
        }
        
        .galaxy-ico_doc {
          background-position: 0px 0px;
          width: 45px;
          height: 45px;
        }
        
        .galaxy-ico_pdf {
          background-position: 55px 0px;
          width: 45px;
          height: 45px;
        }
        
        .galaxy-ico_xls {
          background-position: 0px 55px;
          width: 45px;
          height: 45px;
        }
        
        .galaxy-ico_zip {
          background-position: 55px 55px;
          width: 43px;
          height: 39px;
        }
        
        .galaxy-ingots {
          background-position: 128px 152px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-iou {
          background-position: 186px 0px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-notice {
          background-position: 154px 0px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-pos {
          background-position: 186px 64px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-right {
          background-position: 218px 115px;
          width: 18px;
          height: 18px;
        }
        
        .galaxy-salary_chart {
          background-position: 186px 128px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-salary_detail {
          background-position: 84px 110px;
          width: 32px;
          height: 32px;
        }
        
        .galaxy-salary_pie {
          background-position: 32px 184px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-success {
          background-position: 218px 59px;
          width: 18px;
          height: 18px;
        }
        
        .galaxy-todo {
          background-position: 96px 184px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_copy {
          background-position: 128px 184px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_copy_a {
          background-position: 64px 184px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_deal {
          background-position: 186px 96px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_deal_a {
          background-position: 154px 96px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_request {
          background-position: 154px 64px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_request_a {
          background-position: 154px 32px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_wait {
          background-position: 64px 152px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-todo_wait_a {
          background-position: 186px 32px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-transfer {
          background-position: 218px 87px;
          width: 18px;
          height: 18px;
        }
        
        .galaxy-white_barimg {
          background-position: 32px 152px;
          width: 22px;
          height: 22px;
        }
        
        .galaxy-workAdd {
          background-position: 154px 128px;
          width: 12px;
          height: 12px;
        }
        
        .galaxy-workLogo {
          background-position: 126px 110px;
          width: 17px;
          height: 17px;
        }
        