
    @spriteName: "galaxy"
    .@{spriteName}{
      display:inline-block;
      vertical-align: middle;
      background-image: url(./galaxy-sprite.png);
      background-size: 239px 206px;
      
        &-account {
          background-position: 154px 0px;
          width: 22px;
          height: 22px;
        }
        
        &-approve {
          background-position: 110px 44px;
          width: 32px;
          height: 32px;
        }
        
        &-arrow_rect_next {
          background-position: 160px 184px;
          width: 21px;
          height: 21px;
        }
        
        &-arrow_rect_prev {
          background-position: 218px 0px;
          width: 21px;
          height: 21px;
        }
        
        &-avatar {
          background-position: 110px 0px;
          width: 34px;
          height: 34px;
        }
        
        &-bill {
          background-position: 0px 110px;
          width: 32px;
          height: 32px;
        }
        
        &-chart-symbol {
          background-position: 218px 31px;
          width: 18px;
          height: 18px;
        }
        
        &-chart {
          background-position: 154px 32px;
          width: 22px;
          height: 22px;
        }
        
        &-copy {
          background-position: 42px 110px;
          width: 32px;
          height: 32px;
        }
        
        &-daily {
          background-position: 154px 64px;
          width: 22px;
          height: 22px;
        }
        
        &-faild-min {
          background-position: 186px 160px;
          width: 12px;
          height: 12px;
        }
        
        &-faild {
          background-position: 218px 171px;
          width: 17px;
          height: 17px;
        }
        
        &-faild_red {
          background-position: 218px 59px;
          width: 18px;
          height: 18px;
        }
        
        &-ico_doc {
          background-position: 0px 0px;
          width: 45px;
          height: 45px;
        }
        
        &-ico_pdf {
          background-position: 55px 0px;
          width: 45px;
          height: 45px;
        }
        
        &-ico_xls {
          background-position: 0px 55px;
          width: 45px;
          height: 45px;
        }
        
        &-ico_zip {
          background-position: 55px 55px;
          width: 43px;
          height: 39px;
        }
        
        &-ingots {
          background-position: 154px 96px;
          width: 22px;
          height: 22px;
        }
        
        &-iou {
          background-position: 0px 152px;
          width: 22px;
          height: 22px;
        }
        
        &-notice {
          background-position: 32px 152px;
          width: 22px;
          height: 22px;
        }
        
        &-pos {
          background-position: 64px 152px;
          width: 22px;
          height: 22px;
        }
        
        &-right {
          background-position: 218px 87px;
          width: 18px;
          height: 18px;
        }
        
        &-salary_chart {
          background-position: 96px 152px;
          width: 22px;
          height: 22px;
        }
        
        &-salary_detail {
          background-position: 84px 110px;
          width: 32px;
          height: 32px;
        }
        
        &-salary_pie {
          background-position: 128px 152px;
          width: 22px;
          height: 22px;
        }
        
        &-success {
          background-position: 218px 115px;
          width: 18px;
          height: 18px;
        }
        
        &-todo {
          background-position: 186px 0px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_copy {
          background-position: 186px 32px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_copy_a {
          background-position: 186px 64px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_deal {
          background-position: 186px 96px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_deal_a {
          background-position: 186px 128px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_request {
          background-position: 0px 184px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_request_a {
          background-position: 32px 184px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_wait {
          background-position: 64px 184px;
          width: 22px;
          height: 22px;
        }
        
        &-todo_wait_a {
          background-position: 96px 184px;
          width: 22px;
          height: 22px;
        }
        
        &-transfer {
          background-position: 218px 143px;
          width: 18px;
          height: 18px;
        }
        
        &-white_barimg {
          background-position: 128px 184px;
          width: 22px;
          height: 22px;
        }
        
        &-workAdd {
          background-position: 154px 128px;
          width: 12px;
          height: 12px;
        }
        
        &-workLogo {
          background-position: 126px 110px;
          width: 17px;
          height: 17px;
        }
        
    }
  